<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register Face</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='/style.css') }}">
    

</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form class="form" action="{{url_for('cap')}}" method="post">
        <h3>FACE DETECTION</h3>
        
		<button type="submit" value="Capture" name="click" >Capture</button>
    </form>
    <div class="cam">
        <img src="{{url_for('video')}}" height="70%">
        </div>
        <!--<img src="test.jpg">-->
    </div>
</body>
</html>
